<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:p="http://www.springframework.org/schema/p"
	   xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
			http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
           http://www.springframework.org/schema/context 
           http://www.springframework.org/schema/context/spring-context-4.0.xsd
            http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
            http://www.springframework.org/schema/aop
			http://www.springframework.org/schema/aop/spring-aop.xsd ">
	<mvc:annotation-driven>
		<mvc:message-converters>
			<ref bean="stringHttpMessageConverter" />
			<ref bean="mappingJackson2HttpMessageConverter" />
		</mvc:message-converters>
	</mvc:annotation-driven>
	
	<!-- 引入属性文件 放在最开头,在使用spring之前就引入,里面的变量才能被引用-->
	<context:property-placeholder location="classpath:prop/*.properties"/>

	<import resource="classpath:spring-jdbc.xml" />

	<!--dubbo消费者配置-->
	<import resource="classpath:conf/dubbo-consumer.xml" />


	<context:component-scan base-package="com.wd.mqmodel.dao"></context:component-scan>
	<context:component-scan base-package="com.wd.mqmodel.service"></context:component-scan>
	<!--<context:component-scan base-package="com.biyao.sjtools.framework"></context:component-scan>-->

	<bean id="multipartResolver"  
        class="org.springframework.web.multipart.commons.CommonsMultipartResolver">  
        <property name="maxUploadSize">  
            <value>104857600</value>  
        </property>  
        <property name="maxInMemorySize">  
            <value>40960</value>  
        </property>  
    </bean> 

	<!-- 自动切面 -->
	<aop:aspectj-autoproxy proxy-target-class="true" />

	<!-- 注解处理器  -->



	<bean id="stringHttpMessageConverter" class="org.springframework.http.converter.StringHttpMessageConverter">
		<property name="supportedMediaTypes">
			<list>
				<value>application/x-javascript;charset=GBK</value>
				<value>text/html;charset=UTF-8</value>
				<value>text/plain;charset=UTF-8</value>
				<value>text/plain;charset=gb2312</value>
			</list>
		</property>
	</bean>
	<bean id="mappingJackson2HttpMessageConverter" class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
		<property name="supportedMediaTypes">
			<list>
				<value>applicaton/json;charset=UTF-8</value>
				<value>text/html;charset=UTF-8</value>
			</list>
		</property>
	</bean>

</beans>